<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    Relación de Tipos de Combustibles
    <div id="resultados">

    </div>
    <form method="post">
        <input type="text" id="txtComustibleDenominacion" value="" placeholder="nombre del combustible" />
        <button id="btnAddCombustible">Crear Tipo de combustible </button>
    </form>
    <br />
    <form method="get">
        <input type="text" id="txtTipoCombustible" value="" placeholder="nombre del tipo de combustible" />
        <button id="btnFindTipoCombustibleId">Buscar Tipo de combustible </button>
    </form>
    <div id="resultados2">

    </div>


    <!-- AÑADO LA REFERENCIA PARA PODER USAR JQUERY -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
    <!-- AÑADO LA REFERENCIA A MIS PROPIOS FICHEROS DE JAVASCRIPT -->
    <script src="./js/combustibles.js?version=1.0.0"></script>
</body>
</html>
