<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    Relación de Tipos de Combustibles
    <div id="resultados">

    </div>
    <form>
        <input type="text" id="txtTipoCombustible" value="" placeholder="nombre del tipo de combustible" />
        <button id="btnAddTipoCombustible">Crear marca </button>
    </form>


    <!-- AÑADO LA REFERENCIA PARA PODER USAR JQUERY -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
    <!-- AÑADO LA REFERENCIA A MIS PROPIOS FICHEROS DE JAVASCRIPT -->
    <script src="./js/combustibles.js"></script>
</body>
</html>
